body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

#core-page {
    width: 100%;
    height: 300%;
    display: grid;
    grid-template: 200px 1fr 100px / 20% 1fr 20%;
    background: rgb(161, 155, 131);
    background: linear-gradient(90deg, hsla(48, 89%, 60%, 1) 0%, hsla(23, 95%, 52%, 1) 99%);
    background: -moz-linear-gradient(90deg, hsla(48, 89%, 60%, 1) 0%, hsla(23, 95%, 52%, 1) 99%);
    background: -webkit-linear-gradient(90deg, hsla(48, 89%, 60%, 1) 0%, hsla(23, 95%, 52%, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F4D03F", endColorstr="#F9690E", GradientType=1);
    filter: opacity(95%);
    font-family: 'Jost', sans-serif;
}

#index-page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 20% 1fr 40% / 20% 1fr 20%;
    background: rgb(161, 155, 131);
    background: linear-gradient(90deg, hsla(48, 89%, 60%, 1) 0%, hsla(23, 95%, 52%, 1) 99%);
    background: -moz-linear-gradient(90deg, hsla(48, 89%, 60%, 1) 0%, hsla(23, 95%, 52%, 1) 99%);
    background: -webkit-linear-gradient(90deg, hsla(48, 89%, 60%, 1) 0%, hsla(23, 95%, 52%, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F4D03F", endColorstr="#F9690E", GradientType=1);
    filter: opacity(95%);
    font-family: 'Jost', sans-serif;
}

#first-section {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    line-height: 1;
    color: black;
    font-size: 22px;
    text-shadow: #222;
}

#second-section {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
    line-height: 1;
    color: black;
    font-size: 20px;
}

#entra-button {
    box-shadow: inset 0px 1px 6px 0px #ffffff;
    background: linear-gradient(to bottom, #f4d03f 5%, #f9680e 100%);
    background-color: #f4d03f;
    border-radius: 42px;
    border: 2px solid #000;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
}

#entra-button:hover {
    background: linear-gradient(to bottom, #f9680e 5%, #f4d03f 100%);
    background-color: #f9680e;
}

#entra-button:active {
    position: relative;
    top: 1px;
}

.shadow {
    text-shadow: 1.1px 1.1px #222;
    animation: shadow 10s infinite;
}

@keyframes shadow {
    50% {
        text-shadow: 1.2px 1.4px 1.6px #222;
    }
}

#social-section {
    grid-column: 1 / 2;
    grid-row: 4 / -1;
    margin-top: -35%;
    position: sticky;
    bottom: 0;
}

#social-section>img {
    height: 35px;
    width: 35px;
    margin: 5px 10px 0 10px;
    filter: opacity(80%);
}

#languages-section {
    grid-column: 3 / 4;
    grid-row: 4 / -1;
    justify-self: end;
    position: sticky;
    bottom: 0;
}

#languages-section>img {
    height: 50px;
    width: 50px;
    margin: 0 3px 1px 1px;
    filter: opacity(80%);
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    position: sticky;
    top: 0;
    place-self: center;
}

#menu-section {
    display: inline-block;
}

#index-section {
    display: inline-block;
}

.menu-item {
    margin: 0 60px;
    text-decoration: none;
    color: #000;
    border-bottom: solid 1px #000;
    box-shadow: -2px 1px 1px #222;
}

#index-icon {
    height: 30px;
    width: 30px;
    padding-left: 50px;
}

#main-section {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    border-right: solid 1px #000;
    border-left: solid 1px #000;
    padding: 5px;
}

#main-section a {
    text-decoration: none;
    color: hsla(48, 89%, 60%, 1);
}

#main-section p {
    font-size: 18px;
    font-weight: 600;
}

#main-section h4 {
    font-size: 22px;
    font-weight: 800;
}

.attestato {
    height: 100px;
    margin: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}